*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 1.6;
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100vh;
 }

.logo{
	margin-left: 10px;
} 

.contact_me{
    margin-top: 20px;
    text-align: center;
    color: #E1E5B1; 
}

.button{
background-color: #0E76A8; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button a{
  color: #E8A569;
  text-decoration: none;
}

.button a:hover{
    background-color: #0E76A8;
    color: #fff;
}

#dev{
  margin-left: 560px;
  margin-top: 20px;
  border-radius: 2px;
}