*{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background-image: url('../img/background.jpg');
    background-size: cover;
    height: 100vh;
 }

.logo{
	margin-left: 10px;
} 

.ccc{
	text-align: center;
	position: flex; 
	margin-top: -70px;
	text-shadow: 2px 2px 5px #E3F13F;
}


#menu{
	margin: 0px;
	width: 1200px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#menu li{
	display: block;
	width: 150px;
	float: left;
	margin-left: 80px;
	border: 1px, solid #000;
	margin-top: -30px;
}

#menu a{
	display: block;
	padding: 3px;
	text-decoration: none;
	background-color: #fff;
	color: #E8A569;
	border-radius: 5px;
	margin-left: 155px;
	width: 150px;
}

#menu a:hover{
	background-color: #E3F13F;
	color: #fff;
}

h2 {
	color: #9F4C27;
}

.para{
   font-size: 13px;
   margin-left: 100px;
   margin-top: 50px;
   color: #E1E5B1;
 }

.img{
	margin-left: 800px;
	margin-top: -150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} 

.para2{
   font-size: 13px;
   margin-left: 100px;
   margin-top: -110px;
   color: #E1E5B1 ;
 }
